<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" type="text/css" href="http://motang.github.io/stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="http://motang.github.io/stylesheets/pygment_trac.css" media="screen">
    <link rel="stylesheet" type="text/css" href="http://motang.github.io/stylesheets/print.css" media="print">
    <link rel="stylesheet" href="http://motang.github.io/css/index.css"/>
    <title>{{ page.title }}</title>
  </head>
  <body>

	<div class="top">
		Motang的博客
	</div>
	
	<div class="menu">
        <ul>
            <li><a href="http://motang.github.io/">首 页</a></li>
            <li class="split"></li>
            <li><a href="http://motang.github.io/">技术文章</a></li>
            <li class="split"></li>
            <li><a href="https://github.com/Motang">开源项目</a></li>
            <li class="split"></li>
            <li><a href="http://motang.github.io/">联系本人</a></li>
        </ul>
    </div>
	
	<div class="content-detail clearfix">
		
		<div class="left clearfix">
			{{ content }}
		</div>
		
		<div class="right">
			<ul>
				<li class="first">最近更新的三个文章</li>
				{% for post in site.related_posts limit:3 %}
	              <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
	            {% endfor %}
			</ul>
		</div>
	</div>
	
	<div class="bottom">
		<p class="spl"></p>
		<p>© 2015 Morly Tang. All Rights Reserved.</p>
		<p>版权归属:寂寞的男人</p>
	</div>
	
	
  </body>
</html>
